/*
 * Стили для прелоадера сайта
 */

@import "../variables/colors";

.seq-preloader {
  position: absolute;
  left: 350px;
  top: 420px;
  width: 100px;
  height: 140px;
  background-color: $color-beige;

  svg {
    fill: $color-orange;
  }
}

@keyframes seq-preloader {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.5s, opacity 0.5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: $color-orange;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: 0.15s;
}

.seq-preload-circle-3 {
  animation-delay: 0.3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height: 8px;
  background-color: $color-orange;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}
